
.navbar{
    background-color: #a9a9a2;
    height: 60px;
    width: 100vw;
    display: flex;
    border-bottom: 1.5px solid #ebebeb;
    margin-bottom: 80px;
    font-family:'AmstelvarAlpha';
}

.navbar-brand{
    color: #ebebeb;
    font-size:50px;
}

.navbar-brand:hover{
    color: #ebebeb;
}

.nav-link{
    color: #ebebeb;
    font-size: 20px;
}

.navbar a:hover {
    background-color: transparent;
    color: #ebebeb;
}


body{
    background-color:#e0d7d1;
    font-family:'AmstelvarAlpha';
}

.card-signin{

    color: #787775;
    border: solid 1.5px #ebebeb;
    background-color: #ebebeb;
    font-family:'AmstelvarAlpha';
}

.container input:hover{
    border: solid 2px #787775;

}

#job-dropdown{
    margin-bottom:25px;
}

#salary-dropdown{
    margin-bottom:25px;
}

.dropdown {
    font-size: 15px;
    padding: 7px;
    background-color:#a9a9a2;
    border: solid 1.5px #ebebeb;
    width: 175px;
    border-radius:5px;
    color: #ebebeb;
}
.dropdown option:hover{
    color:white;
    background-color: #395B64;

}
.btn{
    background-color:#a9a9a2;
    color: #ebebeb;
    border: solid 1.5px #ebebeb;
    font-family:'AmstelvarAlpha';
    margin-left:150px;
}

#dept-dropdown{
    margin-top:15px;
    margin-left:100px;
    margin-bottom:25px;
}

#manager-dropdown{
    margin-left:100px;
    margin-bottom: 25px;
}
