@charset "UTF-8";

.navbar{
    background-color: #395B64;
    margin-bottom: 20px; 
}

.nav-link{
    color: #E7F6F2;
}

.navbar-brand{
    color: #E7F6F2;
}

.navbar a:hover {
    background-color: transparent;
    color: #E7F6F2;
}

body{
    background-color:white;
}

#job-dropdown{
    margin-bottom:25px;
}

#salary-dropdown{
    margin-bottom:25px;
}

#dept-dropdown{
    margin-bottom:25px;
}

#password{
    margin-bottom:40px;

}

#manager-dropdown{
    margin-bottom: 100px;
}

.dropdown {
    font-size: 15px;
    padding: 7px;
    background-color: white;
    border: 1px solid gray;
    width: 175px;
    border-radius:5px;
  }
  .dropdown option:hover{
    color:white;
    background-color: #395B64;
  }
  

#submit-btn{
    margin-left:500px;
    margin-bottom:10px;
    background-color: #395B64;
}
.card{
    border:none;
}
#form-two-cards{
    border: solid 3px #395B64;
    margin:20px;
    
}
